[defaults]
inventory=inventory
collections_paths = ./collections:/usr/share/ansible/collections

[galaxy]
server_list = rh-certified_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified
#username=student
#password=redhat123
token=3fe181c097a92157d8e83ded3b6cae26847982dc
